[2015-05-20 13:31] TeCoEd opened #3 "Operating System"
Will this run on Raspian? @mraspaud
Thanks

[2015-05-20 13:37] mraspaud commented on #3
Never tried, but why not ? feel free to test and report back !

[2015-05-20 13:41] TeCoEd commented on #3
will do, is it in the repository?
`sudo apt-get install pyorbital?`

[2015-05-20 14:08] mraspaud commented on #3
no clue. I know some Ubuntu maintainer where packing some of the pytroll packages, don't know about pyorbital...

[2015-05-20 14:12] TeCoEd commented on #3
OK, I will do some searching around.
I am trying to use the Raspberry Pi to track the location of the ISS.

[2015-05-26 20:19] TeCoEd commented on #3
All install in the Raspberry Pi - any hints how I track the ISS? Thanks

[2015-05-26 21:05] adybbroe commented on #3
On 2015-05-26 22:19, Dan Aldred wrote:

Hi,

After downloading a tle file from Celestrak with TLE's for space stations:

from pyorbital.orbital import Orbital
iss = Orbital('ISS (ZARYA)',
tle_file='/home/a000680/Downloads/stations.txt')

And this also (always) works, if you already know the TLEs:

iss = Orbital('ISS', line1="1 25544U 98067A   15146.56644382  .00005879
  00000-0  92398-4 0  9999",

[2015-05-27 14:50] TeCoEd commented on #3
Many thanks for your help, you are very kind, I am now trying to pull to longitude and latitude is there a simple code line for this?
Thanks
Dan

[2015-06-11 07:25] sgongar opened #4 "Calculation method."
I was testing PyOrbital comparing it with a well know, for me, like PyEphem but the results aren't similar.

The test code that I used was:

    import ephem
    from math import degrees
    import pyorbital.orbital
    import datetime

    satellite_name = "HUMSAT"
    line1 = "1 27848U 03031J   15160.96355163  .00000275  00000-0  14593-3 0  9996"
    line2 = "2 27848  98.7047 169.4969 0009055 33

[2015-08-19 13:23] Box88 opened #5 "get_next_passes() bug?"
Hi Martin,

I am developing an application to predict pass conflict of NOAA 19 and NOAA 18 blind orbits with METOP-A and METOP-B passes over EUMETSAT Svalbard ground station. I have been used pyephem as TLE propagator and some days ago I found out also this nice library: pyorbital. I checked the prediction results of both libraries (pyephem and pyorbital) against the data given by the EUMETSAT fli

[2015-08-20 09:54] mraspaud commented on #5
Hi Marco,
Thanks for the but report. I'll have a look at it asap.

Best regards,
Martin

[2015-08-21 12:45] mraspaud commented on #5
@Box88 I just ran your script and can't reproduce the bug. I tested with both master and develop branches, but I don't see the line you mention... are you running on linux ?

[2015-08-21 14:11] Box88 commented on #5
I am running on windows 7, python 2.7.10 32 bit, pyorbital 0.3.2 (installed using pip install)
I copied and pasted the script again and I still get that line.
That's weird...

[2015-08-21 14:15] mraspaud commented on #5
ok, could you try using the code from github instead ? Master branch first, develop branch if master doesn't work ? It's possible that the latest changes in master didn't make it to pypi...

[2015-08-21 17:40] Box88 commented on #5
Using the master branch I still get the bug but using the develop branch it is ok! Next week I will continue playing with pyorbital using the develop branch. Thank you very much!

[2015-08-25 15:02] movermeyer opened #6 "_read_tle fails to handle bstar values that start with + character"
_read_tle fails to handle bstar and mean_motion_sec_derivative values that start with + character.

Sometimes, these values starts with a '+'.

Example (from ISS):
1 25544U 98067A   15235.81765006 +.00009573 +00000-0 +14486-3 0  9999
2 25544 051.6452 106.3529 0001648 090.4174 004.9123 15.55401685958567

The + character is a valid character in this position, as indicated [by Celestrak](https://cele

[2015-08-25 19:11] mraspaud commented on #6
Thanks for reporting this, but as you mentioned in the other thread, it was fixed in the develop branch.

[2015-08-25 19:11] #6 closed

[2015-08-25 19:13] mraspaud commented on #5
@Box88 Ok, nice to hear. Fyi develop has now been merged to master, and v1.0.0 was just released.

[2015-08-25 19:13] #5 closed

[2015-08-25 19:15] mraspaud commented on #4
@sgongar could you please provide some of the results also ? how much do pyephem and pyorbital differ ?

[2015-08-25 19:17] mraspaud commented on #3
Please  have a look at the documentation here: http://pyorbital.readthedocs.org/en/latest/#computing-satellite-postion

[2015-08-25 19:17] #3 closed

[2015-08-27 11:41] sgongar commented on #4
The code I've shown you give the following output.

    PyEphem result:   1431832673 -77.1037993892 104.170186164
    PyOrbital result: 1431832673 -50.8534286102 163.696181969

I discovered the difference in values while performing a comparison project propagators. Here you have two pictures, one showing the azimuth and a the altitude of four different propagators.

![alt](https://cloud.githubuser

[2015-08-27 13:36] mraspaud commented on #4
@sgongar Ok, I looked at this a bit, and I have to start by admitting that I don't know anything about pyephem (except that array computations aren't supported, which is why we started pyorbital).

Now, I took you script and tested it with a few tles and satellites that we receive here, I the pyephem results don't make sense. For example, I attach the image of the reception overview we have here f

[2015-08-27 13:57] mraspaud commented on #4
@sgongar Just found the bug in the pyephem use, we need to write:
[code]

somehow pyephem doesn't like floats for lon and lat ??? :(
The result is now:
[code]

[2015-08-27 18:52] sgongar commented on #4
Thanks @mraspaud , now it seems the problem is in my code because all propagators gave me the same value as PyEphem.

These days'll check my code but I think this issue in this repository can be considered closed.

[2015-08-27 18:52] #4 closed

[2015-08-28 11:58] TeCoEd commented on #3
I have it working all now thank you for the links and tips, Dan

[2016-02-09 08:35] avalentino opened #8 "Unit test failure"
Running the test suite on Debian (sid amd64) gives the following error:

[code]

See also [1] for more details

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=814071

[2016-02-15 17:59] mraspaud commented on #8
Not directly a solution for the bug, but version 1.0.0 was released in august, maybe it would be preferable to package this version instead ?
Hmmm, I see now only pypi has the release, sorry about that! It's now on github too :)

[2016-02-15 22:17] avalentino commented on #8
Thanks @mraspaud,
I was not aware of the new release indeed.

Anyway the problem still persists with the new version:

[code]

Do you think that using

[code]

instead of

[code]

makes sense?

[2016-02-16 08:09] storpipfugl commented on #8
It is a very aggressive test. The error is in the order of 1e-12 compared to IEEE 754 double precision epsilon being in the order of 1e-16 and machine implementation of  transcendental functions not being standardized. For these kind of tests it makes sense to drop the accuracy level to single precision tolerance in the order of  1e-8

[2016-02-16 09:29] mraspaud commented on #8
@avalentino , @storpipfugl you are absolutely right, the test is too strict, so assertAlmostEqual should be used. Does the test pass then ? If it does, I'll update the package.

[2016-02-16 20:37] avalentino commented on #8
The following patch seems to work

[code]

[2016-02-17 10:42] mraspaud commented on #8
@avalentino Version 1.0.1 is released now. Can you confirm it works, and close the issue ?

Thanks for the help ! :)

[2016-03-02 13:45] #8 closed

[2016-03-02 23:09] avalentino commented on #8
@mraspaud

uh sorry I missed this message
Yes, I confirm it works

thank you

[2017-01-20 22:36] rubendibattista opened #11 "Different way to return position and velocity in astronomy and orbital"
Hello,

is there a reason why on [`pyorbital.astronomy.observer_position`] the position is given in terms of tuples while on [`pyorbital.orbital.Orbital.get_position`](https://github.com/pytroll/pyorbital/blob/master/pyorbital/orbital.py#L190) is returned in terms of `np.array`?

I believe it would have been better to stick with same style. What do you think?

[2017-01-23 08:15] mraspaud commented on #11
The reason behind this is that when we started pyorbital, the use case was one observer, many satellite positions.

But you're right, it should be made consistent. Pull request is welcome :smile:

[2017-02-24 03:37] chriddyp opened #12 "Get a list of satellite names"
Love this project!

I'm writing a UI around `pyorbital` and I'd like to supply a dropdown with a list of currently available satellites. Is there a list of the currently available satellites or a method to retrieve them?

Thanks for the help!

[2017-02-27 07:31] mraspaud commented on #12
@chriddyp thanks for your interest ! We're using TLE files from Celestrak.com, specifically the resources and weather files, so any platform from those files should work out of the box :)

[2017-03-15 21:42] #12 closed

[2017-08-31 17:42] jordanlui opened #15 "Limitations on URLLIB Read for TLE"
Hi there,
Noticed that the tlefile.read will only check two NORAD TLE URLs from Celestrak. Was wondering if you could add the other Celestrak URLs, such as https://www.celestrak.com/NORAD/elements/cubesat.txt?

Thanks!

[2017-09-01 06:15] mraspaud commented on #15
Hi,

Sure, that would be very nice ! I can't really work on this atm, but contributions are welcome :)

[2017-09-01 22:59] jordanlui commented on #15
Hi Martin,
I made some small changes and submitted pull request.

Thanks!

Jordan Lui
Optical Engineering Research Associate, Roma Tre University
MASc Candidate, Simon Fraser University
BASc Chemical Engineering
University of Waterloo
http://ca.linkedin.com/in/jordanlui

On Thu, Aug 31, 2017 at 11:15 PM, Martin Raspaud <notifications@github.com>
wrote:

[2017-09-06 06:49] mraspaud commented on #15
Perfect ! Thanks !

[2017-09-06 06:49] #15 closed

[2017-12-27 19:09] kevincroissant opened #17 "Make a note of the correct units for observer altitude in docs"
Hello,

After about an hour of frustration, I discovered that get_observer_look expects the observer location to be in feet, not in meters. The PyOrbital azimuth calculation was matching the prediction from GPredict and my own MATLAB code, but the elevation was consistently off by a factor of about 3 (and 1m = 3.28ft).

The documentation on [readthedocs](http://pyorbital.readthedocs.io/en/latest/)

[2017-12-27 21:08] kevincroissant commented on #17
Martin in slack helped and determined that the altitude was in fact in kilometers, not meters or feet. PyOrbital's results now match my MATLAB code and GPredict. Please update the docs to show that the observer altitude is in km.

[2017-12-27 22:10] #17 closed

[2018-01-17 10:02] adybbroe opened #18 "Sun-satellite angle ranges are not consistent"
[code]

The above code produce the following output:
[code]

So, the sun azimuth angles seem to be in the range of -180 to 180, but the satellite azimuth angles are in the range of 0 and 360.

I suggest that PyOrbital always return angles in degrees between -180 and 180!

[2018-01-17 10:13] adybbroe commented on #18
The thing is that the above azimuth angles should result in nearly the same azimuth differences. When you pass under the sun as above, the two angles jump, but the relative difference should not.

[code]

But, if you had done something like this (as it was in Satpy before January 16, 2018) the azimuth difference angles jump!:
[code]

[2018-03-06 22:41] johnmccombs opened #22 "get_next_passes returns max-elevation-time time not between rise & fall time"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

The max elevation time for a pass should lie between the rise and set times.

#### Expected Output

The documentation says get_next_passes returns " [(rise-time, fall-time, max-elevation-time), …]"

Max elevation time should lie between
003:46:14 and 03:50:12

#### Actual Result, Traceback if appl

[2018-03-07 12:55] mraspaud commented on #22
@johnmccombs thanks for spotting this. I believe I have a fix implemented in PR #23, would you mind checking if that works for you ? I tested against your minimal example, and it worked.

[2018-03-07 22:56] johnmccombs commented on #22
Agreed that fixes my example, however I found some Iridium passes that go directly overhead, but are only 1.4 minutes long, which doesn't make sense. And also instances of the transit time well outside the rise/set times. Repro code below. I attached my current TLE file so we're using the same data.

I did a plot (attached) of duration vs transit elevation of a week's worth of calculations and you

[2018-03-08 07:32] mraspaud commented on #22
Very interesting, thanks a lot for the investigation ! Looks like we need to check the horizon crossing times.

[2018-04-09 12:43] mraspaud commented on #22
@johnmccombs Ok, I just had a look at this again, and I tested with multiple satellites, and fresh TLE data from celestrak, with passes over a period of one month. So far, I could only observe the problem you mention with Iridium 40, the others seem to have the expected behaviour.

Hence I looked further and saw that the orbit of Iridium 40 is much different from the other iridiums, and it's orbit

[2018-04-09 23:13] johnmccombs commented on #22
You're right about the short ones. I took a look at Iridium 40 and the perigee is almost overhead at my chosen location, so a brief overhead pass is reasonable.

The other issue though at the right-hand end of my graph with negative transit elevations. I added some code to brute-force the transit. The script below shows the brute-forced values on the second line of output and the get_next_passes()

[2018-04-15 10:09] joost823 opened #27 "satellite.get_lonlatalt(now) returns wrong longitude with numpy < 1.11"
[numpy documentation regarding this behaviour](https://docs.scipy.org/doc/numpy-1.14.0/reference/arrays.datetime.html#changes-with-numpy-1-11)

if users with numpy < 1.11 are using the latest version of pyorbital, the timezone on their device will be used to calculate ```np.datetime64('2000-01-01T12:00'))``` in ```jdays2000()``` in ```astronomy.py```. In numpy => 1.11, the ```np.datetime64``` will

[2018-04-16 09:32] mraspaud commented on #27
Thanks for spotting think. Do you feel like submitting a PR ?

[2018-04-26 08:01] #18 closed

[2018-04-26 08:07] #27 closed

[2018-04-26 08:07] mraspaud commented on #27
This is now fixed in develop. Thanks for reporting the issue !

[2018-08-02 17:17] gerritholl opened #28 "Unknown units in return value for get_alt_az"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

It is unclear how to interpret the values -0.17 and -1.26.  It's either a correct value of unknown unit, or it's simply wrong.  Maybe it's both in radians?

#### Expected Output

I expect the documentation to describe the units of the angles.

#### Actual Result, Traceback if applicable

[code]

#

[2018-08-08 12:57] mraspaud commented on #28
@gerritholl thanks for reporting this, you are absolutely right, this should be documented.

[2018-08-09 17:53] clmerlos opened #29 "URL error"
**Error**
I received the following error when creating a collection of sat objects.
[code]

**Solution**
I believe the error is being thrown by too many https calls:

Changing lines 37-42 in pyorbital/tlefile.py to the following seemed to solve the issue.
[code]

[2018-08-09 18:06] gerritholl opened #30 "get_observer_look turns xarray.DataArray objects into dask.array objects"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

The `az` azimuth output is of type `dask.array`.  The coordinates and any other metadata stored alongside the arrays in the `DataArray` are lost.  I am not familiar with `dask.array`.

This is a consequence of the [if hasattr(az, 'chunks')](https://github.com/pytroll/pyorbital/blob/master/pyorbita

[2018-08-09 19:58] #29 closed

[2018-09-24 17:43] #30 closed

[2018-10-10 09:40] AndreaMalgarini opened #34 "Get root secant converging to wrong solution"
**Problem description and minimal code**
This issue is located in the secant function within `get_next_passes`. It is not properly an error in the sense that the solution of the zero finding function `get_root_secant` given the initial bounds (which are guessed) is not able to find the zero but instead diverges leading to an unfeasible solution. What should be done is either change method, going f

[2018-10-10 11:09] mraspaud commented on #34
Thank you very much for reporting this ! The thorough investigation and proposed solution is very much appreciated! I believe this is related to what was reported in #22 too.
I will have a closer look a bit later as I am on business trip until the end of the week.

If you have the time, a pull request would be great :) I don't have any particular preference for the method used, but if we can avoid

[2018-10-10 12:12] rubendibattista commented on #34
This is the reference code for the `brentq` method in Scipy.

We're gonna try to see if we can easily implement it exploiting numpy vectorization.

If performances are not satisfying, @mraspaud what is you opinion about Cython wrapping? I think that at that moment would be easier to add `scipy` as dep.

PS: I work w/ @AndreaMalgarini :)

[2018-10-10 12:55] djhoese commented on #34
In my opinion, I'd rather depend on scipy than replicate the functionality of the brentq function inside it. That is, if there are no significant modifications to the algorithm.

[2018-10-11 06:18] kevincroissant opened #36 "Issue(s) with get_next_passes"
I have a script that uses pyorbital a lot, and very rarely an error appears when I run get_next_passes on 400+ satellites. The error is this:

[code]

Referencing this line: https://github.com/pytroll/pyorbital/blob/2bd8087cff802f040165c3483775359d8a61a896/pyorbital/orbital.py#L391

I also use get_next_passes to find the maximum elevation of an upcoming pass, my code for that looks like this. Also

[2018-10-11 06:42] mraspaud commented on #36
Thanks for reporting this. Could this be related to #34 and #35 ?

[2018-10-11 06:44] kevincroissant commented on #36
Yes, was just looking at that, get_max_parab (where the error happens) indirectly relies upon the output of get_root_secant, so I am thinking maybe that pull request could fix all of the issues. I will try to test it out tomorrow.

[2018-10-11 06:49] mraspaud commented on #36
That would be great! Thanks for the help

[2018-10-11 07:06] kevincroissant commented on #34
@AndreaMalgarini  and @rubendibattista thanks for your work on this. I've been encountering issues that I am pretty sure are related to this for months, but they've been rare enough and intermittent enough that they never bothered me enough to look for the root cause until now. If you would like me to test anything, let me know and I will put it through it's paces as well.

[2018-10-11 07:57] rubendibattista commented on #34
@kevincroissant Thanks for the kind words. @AndreaMalgarini already tested in several cases but having more tests is clearly appreciated.

[2018-10-17 13:06] #34 closed

[2018-10-17 13:07] mraspaud commented on #36
PR #35 is now merged, can we close this @kevincroissant ?

[2018-10-18 17:13] ghostop14 opened #38 "Issue with pyorbital.planets"
Hi, I'm trying to get az/el of the moon given lat/long/date, and I came across the pyorbital docs at https://pyorbital.readthedocs.io/en/feature-moon-phase/moon_calculations.html.  However when attempting to 'from pyorbital import planets', I get a "ImportError: cannot import name planets" error.  Even though the doc version seems to match the installed version (1.3.1), have the planets objects be

[2018-10-18 17:41] djhoese commented on #38
Hi @ghostop14. The documentation you are looking at is specifically for the `feature-moon-phase` branch on github (https://github.com/pytroll/pyorbital/tree/feature-moon-phase/pyorbital). This has not been merged or released yet. In the lower left of the documentation you should be able to choose "latest" or "stable" for more accurate documentation. Could you tell me how you arrived at this moon c

[2018-10-18 19:03] ghostop14 commented on #38
Ah, makes sense.  I actually found some other code based on pyephem.  I came across the documentation googling for "python calculate moon's azimuth and elevation".  Came up close to the top.

[2018-10-20 21:12] kevincroissant commented on #36
All good now! Thanks Martin.

[2018-10-20 21:12] #36 closed

[2018-10-22 07:15] adybbroe commented on #38
Hi @ghostop14. Yes, you have to select the feature-moon-phase branch for this. We did not merge it to master as we have seen deviations to other libraries, including pyephem. I could actually not conclude which is more correct, at the time when I looked at it. See the doc pages on that. Sorry for the inconvenience.

[2018-10-22 07:20] adybbroe commented on #38
And by the way @ghostop14 the reason why we did not go for PyEphem is that it was designed for single point calculations, and not (at that time at least) optimized for array arithmetics.

[2018-10-22 07:30] pnuu commented on #38
Also: pyephem is deprecated by the author. The new full rewrite is called [Skyfield](https://github.com/skyfielders/python-skyfield).

[2018-10-22 13:19] ghostop14 commented on #38
Thanks for all the feedback Panu and Adam!  I actually hadn't seen the note that pyephem was being deprecated.  I'll take a look at both.

[2018-12-16 15:41] Derekcz opened #43 "Satellite elevation/azimuth wrong"
Hello, I am trying to write a simple script that outputs the elevation and azimuth of a selected satellite relative to my location. I took the original code from an older issue thread [here](https://github.com/pytroll/pyorbital/issues/4), as it seemed to be exactly what I was looking for. I modified it so that it (hopefully) downloads the satellite data from the net and constantly updates.
However

[2019-02-20 11:21] slawoszuznanski commented on #15
Dear all, would it be possible to manually read TLE from a text file? Celestrak URLs are very limiting...

[2019-02-20 11:52] TAlonglong commented on #15
I use like this:

`TLES=/data/pytroll/tle-in/tle_db/tle-latest.txt <pytroll command which need tles>`

So `TLES` is a environmental variable.

[2019-06-20 21:50] ivan95603 commented on #43
Try it like this
**az1, alt1 = satellite.get_observer_look(utc_time=now, lon=antenna_lon, lat=antenna_lat, alt=antenna_altitude)**
with named parameters. It works. Checked with gpredict.

Cheers,

[2019-06-21 21:34] clausqr commented on #15
Hi! Would it be possible to add `'https://www.celestrak.com/NORAD/elements/engineering.txt'` to the list of TLEs?

i.e.:
[code]

[2019-06-24 06:47] mraspaud commented on #15
I don't see why not, PR welcome !

[2019-06-24 08:43] mraspaud commented on #43
Sorry that this question was never answered before, thanks @ivan95603

[2019-06-24 11:48] #28 closed

[2019-07-26 13:33] ivan95603 commented on #43
@mraspaud
You are welcome.

[2019-10-16 20:21] conkline opened #48 "Does pyorbital no longer calculate moon phase?"
Iʻm looking for a quick and simple way to calculate moon phase on a given date, and wanted to follow this tutorial:
https://pyorbital.readthedocs.io/en/feature-moon-phase/moon_calculations.html

I installed pyorbital successfully, but get a <AttributeError: module 'pyorbital' has no attribute 'moon_phase'> error. Looking through the code, I was unable to find this module, unless Iʻm missing someth

[2019-10-16 20:23] mraspaud commented on #48
@adybbroe Any insight ?

[2019-10-16 20:23] djhoese commented on #48
Is it in this branch and never got merged? https://github.com/pytroll/pyorbital/tree/feature-moon-phase

[2019-10-16 20:42] conkline commented on #48
Ah, looks like it! Thank you!

[2019-12-02 18:33] wevonosky opened #52 "Pyorbital fails to find TLE For some satellites"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

Pyorbital is having no problem finding the TLE for most of the satellites in the above list, but fails to find others. For example, it finds the TLE for all the SKYSAT-X satellites but fails for SKYSAT-C12 and SKYSAT-C13. I checked the names against the catalog in CelesTrak (https://celestrak.com/

[2019-12-02 20:19] wevonosky commented on #52
Seems some satellites included by CelesTrak are not categorized into the eight TLE_URLS checked by PyOrbital. The URL's checked by PyOrbital are:

[code]
found at line 37 of tlefile.py

The satellites I mentioned that are not found by Pyorbital are found if you include the following CelesTrak link:

http://www.celestrak.com/NORAD/elements/active.txt

This link has a lot of redundant satellites tha

[2019-12-02 21:13] mraspaud commented on #52
@wevonosky Thanks a lot for bringing this issue to our attention. I have nothing against adding this file to the urls, so if you have the possibility send us a pull request. That would be highly appreciated !

[2019-12-02 23:43] wevonosky commented on #52
@mraspaud I am pretty unfamiliar with pull requests so forgive me if I am missing something silly.

I created a clone of the repo on my local machine, then created a new branch and checked out onto it. Then I tried : git push origin add_tle_urls
and got a permission error.

I was then going to make my changed, commit then to the branch and then create a pull request. Is there another way of doing

[2019-12-03 17:08] mraspaud commented on #52
@wevonosky the first thing you need to do before cloning is to create a fork of the pytroll/pyorbital repo. Then you have to clone your repo (not the pytroll one) and work on that. Then pushing should be working better.
Maybe the following link could help ? https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2019-12-03 19:38] wevonosky commented on #52
Thanks @mraspaud

The pull request is in!

[2019-12-03 20:08] #52 closed

[2019-12-17 17:12] TAlonglong opened #54 "Add sar as an instrument"
I need to add sar as an instrument

[2019-12-19 09:26] TAlonglong commented on #54
This is tricky as the sar-c has several modes with different widths and angles.

And I also dont understand what should be passed to `ScanGeometry` like https://github.com/pytroll/pyorbital/blob/master/pyorbital/geoloc_instrument_definitions.py#L555

`ScanGeometry` implemented here https://github.com/pytroll/pyorbital/blob/master/pyorbital/geoloc.py#L77

But pyorbital uses `SwathBoundary` implemen

[2020-02-21 10:56] mraspaud commented on #54
I think it depends what you want to do. If you want to predict the footprint of the SAR pass, you need to define a `ScanGeometry`

[2020-04-14 11:30] adybbroe opened #58 "Improve Pyorbital documentation!"
Pyorbital is very limited documented. For instance it is not clear from the documentation what definitions are used for angles (lons, lats, azimuths etc). -180 to 180 or 0-360.

[2020-04-15 07:59] simonrp84 commented on #58
[jumping in here as I saw it on slack]
On this subject, we should also be clear what the azimuth is relative to. I've seen 4 versions:
1) 0 degrees = Satellite is North of observer.
2) 0 degrees = Satellite is South of observer.
3) 0 degrees = Observer is North of satellite.
4) 0 degrees = Observer is South of satellite.

1+4 and 2+3 may seem duplicates, but that's not the case if, say, the satell

[2020-07-21 14:56] mraspaud opened #61 "Test data never makes it in sdist/bdist packages"
See #60

[2020-07-25 06:26] lwk1542 opened #62 "can this tool run"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

[this should also explain **why** the current behaviour is a problem and why the
expected output is a better solution.]

#### Expected Output

#### Actual Result, Traceback if applicable

#### Versions of Python, package at hand and relevant dependencies

Thank you for reporting an issue !

[2020-07-30 03:29] jschultz opened #63 "Runtime error in get_next_passes"
I see a similar error has been reported and fixed previously in #36

The following code:

[code]
produces the following output:
[code]

[2020-07-30 14:11] djhoese commented on #63
I have confirmed this with pyorbital 1.5.0 and pyorbital 1.6.0 from conda-forge. I don't have any experience with these algorithms but wanted to add the extra data point that I also see this warning message.

[2020-07-31 12:33] mraspaud commented on #62
You'd have to be a bit more specific for us to help you. Please report the full problem according to the template.

[2020-07-31 12:33] #62 closed

[2020-07-31 12:35] mraspaud commented on #63
@jschultz thanks for reporting this. PR #64 should solve this issue, can you confirm?

[2020-08-02 04:02] jschultz commented on #63
Yes, PR #64 fixed this problem for me.

[2020-08-07 07:17] #63 closed

[2020-10-26 15:44] simonrp84 commented on #58
Coming back to this issue:
`pyorbital.orbital.get_observer_look` and `pyorbital.astronomy.get_alt_az` use different definitions of the angles for azimuth.

The former is returning a value of 180 degrees when the observer is North of the satellite. The latter is returning 0 degrees when the observer is North of the sun.

This is not necessarily wrong, but the documentation should explicitly state w

[2020-10-26 16:32] gerritholl commented on #58
Related (closed) issue: https://github.com/pytroll/pyorbital/issues/28

[2020-10-28 16:03] simonrp84 opened #68 "Observer look angles are incorrect for SEVIRI"
#### Code Sample, a minimal, complete, and verifiable piece of code

Combining satpy and pyorbital:
[code]
#### Problem description

The above code (for a Met-8/SEVIRI IODC scene) produces an odd line along the equator in which the azimuth angles are incorrect:
![image](https://user-images.githubusercontent.com/13449576/97462645-dc4e9d00-1936-11eb-8585-c49888263e88.png)

This line should not be pr

[2020-10-28 16:18] simonrp84 commented on #68
Printing the azimuths along the equator `print(view_azi[::50,1855].compute())` gives this:
`[ nan 360. 360. 360. 360. 360.   0.   0.   0.   0.   0.   0.   0. 360.
 360. 360. 360.   0.   0. 360. 360. 360. 360.   0. 360.   0.   0. 360.
 360.   0.   0.   0. 360.   0. 360.   0. 360. 360. 180. 180. 180. 180.
 180. 180. 180. 180. 180. 180. 180. 180. 180. 180. 180. 180. 180. 180.
 180. 180. 180. 180. 180

[2020-10-30 10:30] sfinkens commented on #68
@ninahakansson might be interested in this, too :)

[2020-11-21 00:31] travisrlh opened #69 "get_orbit_number not internally consistant"
#### Code Sample, a minimal, complete, and verifiable piece of code

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pyorbital.orbital

line1 = '1 41855U 16067H   20154.58226637 +.00000953 +00000-0 +87667-4 0  9999'
line2 = '2 41855 097.9270 261.6728 0008797 306.0913 053.9493 14.97197363194247'

orb = pyorbital.orbital.Orbital('sat', line1=line1, line2=line2)

iter_da

[2020-11-21 06:42] mraspaud commented on #69
First, thanks for the nice report, with code to reproduce, and even a plot!
My first reaction to this is that TLEs aren't supposed to be reliable more than a week ahead, so I'm not surprised the quality degrades after a couple of years. That's a limitation of the sgp4 model I think.
Would that explain the error?

[2020-11-23 05:28] espg opened #70 "get_lonlatalt doesn't give correct results for Terra / Aqua"
[code]
Above code yields:

`(166.84878227675836, 60.28586375275336, 718.455146236583)`

Terra MODIS is a nadir looking instrument, so those coordinates (or relatively close to them) should be present in the data from the sensor... but...

[code]

returns:

`(-54.213318 -77.61293 -38.029873 -59.76777)`

All the latitudes are in the southern hemisphere, while the pyorbital thinks that the satellite

[2020-11-23 07:21] mraspaud commented on #70
Hi @espg , thanks for reporting this issue.

Calling `Orbital` without providing specific TLEs does go and fetch the current TLEs from celestrak, meaning the most recent ones. TLEs are supposed to be valid for max a week, since the SGP4 model is a simplification of reality. So trying to extrapolate the position of the satellite over 15 years is stretching it a bit ;) No wonder it's all wrong...

C

[2020-11-23 17:34] travisrlh commented on #69
I agree TLE data gets stale quickly and the coordinates themselves will not be accurate, but the orbit number and coordinate should agree with one another.

it looks like get_orbit_number doesn't use sgp4, it's using a polynomial to approximate. Here's another plot showing the same issue within a few days of TLE timestamp: plotting latitude vs orbit_number %1 should put all the

[code]
![Figure_2]

[2020-11-23 17:48] mraspaud commented on #69
Really interesting! thanks for digging into this.

I agree that the orbit number and coordinate should be consistent. Do you feel like giving a shot at a PR to fix this?

[2020-11-23 17:52] mraspaud commented on #68
@simonrp84 can you produce a minimal example that exhibits the error without relying on a data file? That way we would have something to test against.

[2020-11-23 18:40] travisrlh commented on #69
I don't have enough knowledge of SGP4 internals to make a fix at this time, but when I do I can check back on this issue

[2020-11-23 18:55] mraspaud commented on #69
Thanks anyway! I'll leave this open in case any of the maintainers has the time to fix it.

[2020-11-30 00:24] espg commented on #70
I requested/downloaded the TLE's for both satellites from launch till the beginning of this month...I'm wondering if it makes sense to open a PR that checks for if the date is earlier than some cutoff (a month? 2020?), and use the TLE archive if that's the case, but download current from celestrak if the time is more recent. The text files aren't that large for the archive (1.7 meg's for Aqua to g

[2020-11-30 05:26] pnuu commented on #70
I thought we already did select the closest TLE in time, but apparently not: https://github.com/pytroll/pyorbital/blob/master/pyorbital/tlefile.py#L197-L201

[2020-11-30 07:14] mraspaud commented on #70
@espg good idea!
As a first step, we could issue a loud warning when TLEs are too old indeed.
As for getting the data from the archive, the problem is that the archive isn't complete, so it might be difficult, but PRs are definitely very welcome!

[2021-01-12 15:40] clmuddjr opened #71 "NotImplementedError: Deep space calculations not supported - Just from running TLE file"
Dear people:

I want to run through a TLE file and calculate the coordinates of each satellite for a period of time (right now, datetime will only allow 60 seconds, but would like to run it longer).

At first, using Orbital from PyOrbital, I obtained an error that certain satellites could not be found in the TLE file I specified.  Then, I realized that Orbital may have been pulling from the Intern

[2021-01-14 06:07] clmuddjr commented on #71
After running some testing, it happens to be some aspect of specific satellites in the science celestral tle file.

I began an 'x' count had the routine stop at 5 and it worked.  I did the same for additional levels and eventually obtained an error at 829.

I then had the routine skip 829 which it did.  But, it stopped at 831.  After a few more satellites, I wanted to see what line caused the issu

[2021-01-14 06:18] clmuddjr commented on #71
So, I wrote this code rather than adding each specific satellite and it completed without issue:

[code]

[2021-01-14 18:50] mraspaud commented on #71
@clmuddjr thanks for reporting this issue!

I think the Deep space error comes when trying to use TLEs for computing geostationary or deep space orbits, with pyorbital doesn't support yet.

For polar satellites, you shouldn't get this problem. What are the orbits of the satellites you are working on?

[2021-01-14 18:52] espg commented on #70
So... I do have a fix for this, but right now it's fairly klugey. @mraspaud you're right in the public archive being incomplete, but I have requested the historic data, and have a full archive from launch to Jan. 1, 2020. I'm having some interface issues; initially I created single text files containing all the TLE's, but calling pyorbital with a TLE file argument expects just a single TLE-- if th

[2021-01-14 19:12] mraspaud commented on #70
@espg wow, thanks for looking into this!

About Orbital not looking through an archive file, this comes from the fact that it's original purpose was to work with individual TLE files, but using archives is of course a natural enhancement with I support totally.
For the record, we do have some code in pygac for looking at the nearest tle lines matching a date here: https://github.com/pytroll/pygac/

[2021-01-26 13:19] ninahakansson opened #72 "Unexpected Nans in get_observer_look_no_tle"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

The angle of sat_elev is sometimes calculated as NaNs instead of being ~90.

#### Expected Output

No error.

#### Actual Result, Traceback if applicable

ValueError

#### Versions of Python, package at hand and relevant dependencies

Thank you for reporting an issue !

[2021-01-26 15:40] djhoese commented on #72
This may be a duplicate of #68

[2021-02-01 10:53] grypoB commented on #22
I was able to reproduce the bug with this short script:
[code]
Which gives the following output:
[code]

I was able to pin-point the issue in the function to the line [429-432](https://github.com/pytroll/pyorbital/blob/f1e50fcee10ef85688c23c78c9ebae26956db805/pyorbital/orbital.py#L429) of orbital.py:
[code]
And simply replacing line 432 by the following fixes the issue:
[code]
I'm not familiar eno

[2021-02-01 18:01] mraspaud commented on #22
Thanks for finding a minimal example, that'll help writing a failing unit test!

Hmm, it's been a while, can you remind me what the unit of `middle` is?

[2021-02-01 18:30] grypoB commented on #22
From my understanding of the function, `middle` should be in minutes (where
0 is the `utc_time` given in the function input).
It also looks like an index, but I think that's because you have an array
of elevation `elev` computed at 1 minute intervals

On Mon, Feb 1, 2021, 7:01 PM Martin Raspaud <notifications@github.com>
wrote:

[2021-03-02 07:44] mraspaud commented on #71
If someone wants to dive into a PR for deep space computations: deep space initialisation (https://github.com/pytroll/pyorbital/blob/master/pyorbital/orbital.py#L779-L780) should follow page 85 of https://celestrak.com/publications/AIAA/2006-6753/AIAA-2006-6753-Rev3.pdf
and propagation (https://github.com/pytroll/pyorbital/blob/master/pyorbital/orbital.py#L779-L780) should implement the beginning

[2021-03-05 14:57] gerritholl opened #74 "ValueError in case of empty or missing TLE files"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

When the environment variable `TLES` contains a globbing pattern that does not match any results, constructing the `Tle` class fails with `ValueError`.  This crashes the `gatherer` script from `pytroll-collectors`.  Either pyorbital should have some fallback option, or it should raise an exception

[2021-03-23 18:56] dagnic commented on #22
Hi !

Is there some update about this issue ?

I have some errors of this kind (example below). @grypoB how did you come to the conclusion that line 432 should be replaced by the following?

    max(risemins, middle - 2), min(fallmins, middle + 2)

If it works, is it possible to implement it?

Thanks !

    import pyorbital.orbital
    import datetime
    orb = pyorbital.orbital.Orbital("NOAA 18")

[2021-03-24 08:21] dagnic commented on #22
So @grypoB I tested your solution, replacing line 432 by:

[code]

but, alone, it does not work for my example I gave above

[code]

In order to make it work, I have to change also line 433 with `tol=tol * 60.0` as you mentioned before.

[code]

Is it possible to implement it, or at least detect that the maxtime is not within rise and falltime, then perform mid-poind approximation and warn?

[2021-03-24 08:24] mraspaud commented on #22
@dagnic could you provide the TLE lines for that example?

[2021-03-24 08:27] dagnic commented on #22
[code]

[2021-03-24 08:27] mraspaud commented on #22
thanks!

[2021-03-25 14:01] mraspaud commented on #22
@grypoB @dagnic I think I have a fix in #76, could you check if it works for you?

[2021-03-25 14:47] dagnic commented on #22
@mraspaud I clone the branch, its looks good. Thanks.

[2021-03-26 14:13] grypoB commented on #22
@mraspaud same here, it does fix the issue in my example. Thanks!

[2021-03-26 14:39] mraspaud commented on #22
@dagnic @grypoB Thanks for the feedback! I'll merge my PR then.

[2021-03-26 14:40] #22 closed

[2021-04-30 05:57] mnaranjo opened #79 "ModuleNotFoundError: 'pyorbital' is not a package"
Hi,
I have tried to perform the basic test described in the documentation after installing the package as indicated in the [link](https://pypi.org/project/pyorbital/) (I have also tried it with a coda environment and I get the same result), pyorbital version 1.6.1.

[code]

However, with the first import line I get the following error.

[code]

Am I missing something obvious?

Thank you very much

[2021-04-30 11:34] djhoese commented on #79
Do you have a directory or file named pyorbital in your current directory? Otherwise, are you sure you are running with the same python environment rhat you installed pyorbital into?

[2021-05-24 13:26] ninahakansson commented on #68
@simonrp84  Should it not be print(view_azi[1855, ::50].compute()) to look at the corrupted data (line 1855, not column 1855)?

I tried to replicate this bug using latest pyorbital and satpy as well as with pyorbital = 1.6.0 and satpy 0.24.0. I used an old SEVIRI file (MSG2-SEVI-MSG15-0201-NA-20070912105742.738000000Z-20110623023936-1431340.nat) but I could not create any strange values. So I am n

[2021-05-24 15:11] simonrp84 commented on #68
@ninahakansson Sorry, yes it should be `print(view_azi[1855, ::50].compute())`.

The bug is still in the latest conda versions. It seems for line 1855 the azimuths are reversed.
[code]

Gives:
[code]

[2021-05-25 06:41] ninahakansson commented on #68
@simonrp84 I used your example but with another file MSG2-SEVI-MSG15-0201-NA-20070912105742.738000000Z-20110623023936-1431340.nat. And I got the correct angles (except for no nan outside the disc?). So maybe it is an issue only for MSG1?

[code]

[2021-05-25 06:44] ninahakansson commented on #68
Does the lat/lon look correct and not reversed for the 1855 line?

[2021-05-25 11:31] simonrp84 commented on #68
Yes, the lats/lons look OK. Lats are all zero, lons are:
[code]

I've tested this with both MSG1 and MSG4 data, the same problem exists in both (numbers above are MSG4).

[2021-05-25 11:33] simonrp84 commented on #68
In case it's any help, the satpy version is `0.27.1.dev73+g91494305.d20210510` and pyorbital is `1.6.1+1.g91794a6` to generate the above plots / data.

[2021-06-02 20:27] djhoese commented on #79
Any update on this @mnaranjo?

@joleenf you said you experienced something similar?

[2021-06-03 10:37] joleenf commented on #79
Yes.  For me, ```pip install pyorbital``` solved the problem.

[2021-06-19 20:48] JTregloanReed opened #80 "NotImplementedError: Mode "Near-space, simplified equations" not implemented"
Hi,

We have written a wrapper script to calculate the RA, DEC and time to perform observations of all visible LEOsats using your pyorbital script. Everything has been working fine, until today. I am unsure if it is an error in pyorbital, or that our wrapper script is not handling the error correctly. But it works for some of the satellites given in the TLE, then suddenly stops with:

File "/home/

[2021-06-21 07:29] mraspaud commented on #80
@JTregloanReed Hi!

I looks like the simplified equations are supposed to be used when the perigee drops down below 220 km. These simplified equations aren't implemented yet unfortunately, so I suppose one of the satellites you are monitoring went down below that?

Any help with implementing these equations is very welcome :)

[2021-06-22 18:38] JTregloanReed commented on #80
@mraspaud Hi,

Thank you for the clarification. Indeed some of the newly launched Starlink LEOsats are still in orbital rise and are below 220 km, which explains the issue. As a quick work-around, I can add a quick test in our wrapper to prevent LEOsats below 220 km being passed to pyorbtial. But for a more robust solution, adding the equations will be desirable.

I can't guarantee when, but I wou

[2021-06-23 07:17] mraspaud commented on #80
Any help will be highly appreciated! I was wondering if the non-simplied equation could also be used as a temporary workaround?

[2021-08-24 22:54] BB6560 commented on #38
Hi!
@ghostop14 Can you share with me that how were you able to calculate the **moon's altitude and azimuth**? Can you send me your code?
It would be very helpful, i spent the last 3 hours looking for a solution, but i couldn't find a well enough documented/working library for my problem.
Looking forward to your answer,
BB!

[2021-08-25 13:09] ghostop14 commented on #38
Check out https://github.com/ghostop14/skytrack.  In skytrack.py lines 314-319 show the code to get the az, el, and distance for a target.  Hope that helps!

[2021-08-25 15:58] BB6560 commented on #38
@ghostop14 Thank you for the fast answer! Your code led me to the library skyfield (which was mentioned before in this thread, but i didn't look into it).

I composed a code from the examples in their documentation (https://rhodesmill.org/skyfield/).

[2021-09-23 07:41] #72 closed

[2021-10-19 20:59] adamk opened #85 "Azimuth/elevation output not changing with 1-second increments"
[code]
#### Problem description

I'm trying to generate azimuth/elevation every 1 second of a satellite's pass (>30 deg above horizon). Why is Pyorbital not computing any change? It surely shows the precision capable to perform this calculation. The Pyorbital function of interest is get_observer_look(). My end goal is to use this az/el data to compute apparent angular speed which I already have py

[2021-10-19 21:43] #85 closed, assigned to nobody

[2021-12-03 12:50] djhoese opened #88 "Add support for dask and xarray"
#### Feature description

As discussed in https://github.com/pytroll/satpy/pull/1910, calculations will generally perform better if they are wrapped in a `da.map_blocks` call when dask arrays are involved. The Satpy PR implements basic wrappers for this. In the long run it would be best if pyorbital had this builtin. @mraspaud had the idea of using a decorator that would detect if it was being giv

[2021-12-03 12:51] #79 closed

[2021-12-14 17:19] gerritholl opened #90 "get_observer_look raises IndexError on numpy 1.21.4"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

The code sample raises an `IndexError` in my Python 3.10 environment with numpy 1.21.4.  It returns successfully in my Python 3.9 environment with numpy 1.20.3.  It also fails in [this GitHub CI environment](https://github.com/pytroll/satpy/runs/4523150152?check_suite_focus=true) with Python 3.8 a

[2021-12-14 17:36] gerritholl commented on #90
Never mind, this was already fixed in #77.  Somehow it wasn't using the version I thought it was.

[2021-12-14 17:36] #90 closed

[2022-03-08 13:06] adybbroe opened #94 "get_last_an_time does not work with a datetime object as input"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

`get_last_an_time` does not work with a datetime object as input, as otherwise indicated in the documentation. It seem to require a numpy datetime64 object instead?

If `mysat` is my `Orbital` object for a given platform name and TLE file, and `dtobj`is a datetime object (my utc time) then:
`mysat

[2022-03-08 13:08] adybbroe opened #95 "Would be nice to have a `get_last_dn_time` to get the last descending node"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

Would be nice to have a `get_last_dn_time` to get the last descending node similar to the existing `get_last_an_time` method.

#### Expected Output

#### Actual Result, Traceback if applicable

#### Versions of Python, package at hand and relevant dependencies

Thank you for reporting an issue !

[2022-03-23 00:01] PythonCreator27 commented on #48
Is it possible for this branch to be merged? The work in it seems to work well.

[2022-03-23 00:23] djhoese commented on #48
I create #96 from this branch, but it will take a lot of work to get it ready for merging. If anyone (@adybbroe @PythonCreator27 @conkline ) are interested in tackling this challenge, let us know here.

[2022-06-03 16:00] depion opened #97 "sun_earth_distance_correction returns the square of the sun-earth distance relativ to 1 AU"
#### Problem description

The function `sun_earth_distance_correction` in pyorbital/astronomy.py returns the square of the sun-earth distance relative to 1 AU. However, the function `apply_earthsun_distance_correction` in satpy/readers/utils.py squares the returned value again which leads to inaccurate calculations of the reflectance for the visible channels (e.g., `vis_calibrate` in satpy/readers

[2022-06-07 06:59] mraspaud commented on #97
@depion Thanks a lot for the heads up!
It's a bit hard to read in text form, so here it is in math:

$$r = {a (1-e^2) \over (1+e \cos(\theta))}$$

thus

$$corr = {r \over AU} =  {{a(1-e^2) \over AU}  {1 \over (1+e \cos(\theta))}} \approx {{a(1-e^2) \over AU} (1- e * \cos(\theta))}$$

Is this correct?

And do you feel like making a pull request for it?

[2022-07-04 13:29] gerritholl opened #100 "TLE URIs land at redirect page"
The URIs hardcoded in `tlefile.py` are out of date.  They all point to `celestrak.com`.  This should be `celestrak.org`:

https://github.com/pytroll/pyorbital/blob/6c40a8c13a26fc4ad7fe6d3d9bf1856183291c51/pyorbital/tlefile.py#L41-L49

#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

The URIs hardcoded in pyorbital should be up-to-date.  The URI

[2022-07-04 13:41] gerritholl commented on #100
See also the message at https://celestrak.org/

[2022-07-04 13:51] #100 closed

[2022-07-07 11:43] #97 closed

[2022-07-25 21:39] ahvahsky2008 opened #105 "How compute satellite look angle?"
Hi. I have in input only tle. How calcullate observation area?
![image](https://user-images.githubusercontent.com/8035828/180878438-49eb11a0-85d7-49fd-b929-4981cb71ed4c.png)
![image](https://user-images.githubusercontent.com/8035828/180878551-6309f5df-97ab-4c8a-9d2a-e401cbf8bca3.png)

[2022-07-26 06:08] mraspaud commented on #105
Hi,
TLE is a good start, but you need more information than this to compute the observation area, in particular the characteristics of the sensor like the resolution and min/max scanning angle along and across track.

Once you have this, you can try to define a scanning geometry like here: https://github.com/pytroll/pyorbital/blob/main/pyorbital/geoloc_instrument_definitions.py and then use someth

[2022-07-26 07:43] ahvahsky2008 commented on #105
@mraspaud thx! I try geoloc_ex.py but its raise error
```ValueError: operands could not be broadcast together with shapes (3,17901) (1,2)```

[2022-07-26 07:47] mraspaud commented on #105
Yes, the script might not be up to date, but if you have the sensor definition set properly, I'm sure you can adapt the example to your use case :)

[2022-07-26 12:35] ahvahsky2008 commented on #105
could you pls give some hint? which param
[https://i.ibb.co/0hJFHct/xixa.png](url)

[2022-07-26 14:15] mraspaud commented on #105
I have no idea what sensor you are working with, so it's going to be difficult for me to give you a hint :sweat_smile:

If you paste your sensor definition in the same format as in https://github.com/pytroll/pyorbital/blob/main/pyorbital/geoloc_instrument_definitions.py and a suitable TLE, I'll try to find some time to take a look at this.

[2022-07-26 18:11] ahvahsky2008 commented on #105
Thx for reply) Ok. I try work with sat [SUOMI NPP](https://www.n2yo.com/satellite/?s=37849)
Code freezes on `get_lonlatalt(pixels_pos, s_times)`  stage (geoloc.py 142 line). Could you pls say where issue in this code?

[code]

[2022-07-27 11:49] mraspaud commented on #105
I'm not sure I understand. The plot shows north America, but the Basemap definition seems to be over Europe?

[2022-07-27 13:08] ahvahsky2008 commented on #105
counter question - plot show position of satellite on proper datetime?

[2022-07-27 14:16] mraspaud commented on #105
yes. Don't forget the time should be given in utc.
![Figure_1](https://user-images.githubusercontent.com/167802/181269881-9ba1affa-f01c-4b99-8029-3afafd6269bc.png)

Here is the script I used to generate this image:
[code]

[2022-07-27 14:35] mraspaud commented on #105
And what another website reports:
![image](https://user-images.githubusercontent.com/167802/181274912-574237b2-c97a-4a3a-bbfd-75f42995476b.png)

[2022-07-27 20:05] ahvahsky2008 commented on #105
which version of `cartopy` do you have?

[2022-07-27 20:30] ahvahsky2008 commented on #105
Ok, we have satellite trajectory on purpose datetime. Main question - how calc observation area?
![image](https://user-images.githubusercontent.com/8035828/181366104-fe8f24dd-ff28-4cfb-befa-9c06d6a455bb.png)

[2022-07-27 21:18] mraspaud commented on #105
The script you have provides observation points, right? So from there you can get pixels for given times of interest.

[2022-07-28 05:12] ahvahsky2008 commented on #105
I guess this lines are swath ?
![image](https://user-images.githubusercontent.com/8035828/181425604-ee896258-21aa-4caa-9179-2b04dc19417a.png)

[2022-07-28 06:24] mraspaud commented on #105
yes, approximately. You may want to compute some more times in between, a swath is usually more rounded (I'm assuming the satellite goes horizontally in this image)

[2022-07-28 06:48] ahvahsky2008 commented on #105
I added some more scan lines and its look like spline)
![image](https://user-images.githubusercontent.com/8035828/181438949-7a913ce6-927f-44ef-9c6b-eabfe1db4018.png)

But in summary,    Width of swath != satellite capture band. Its may be smaller etc... How calc this radius?

[2022-07-28 06:53] mraspaud commented on #105
A you can see in the previous script, the points compute across track are `scan_points = np.arange(24, 2048, 40)`
if you want just the edges, set `scan_points = np.array([0, 2047])`...

[2022-08-02 07:13] ahvahsky2008 commented on #105
Hi again) could you pls explain how compute scangeometry for `kanopus v1` ?. It's has 2 sensors
![image](https://user-images.githubusercontent.com/8035828/182314344-800ef287-3ac6-420c-8e64-5a330dae4b3f.png)

[2022-08-03 06:27] mraspaud commented on #105
This is unfortunately not enough information to do that. You need to know the scan pattern (sweep, push broom, circular, etc), the scanning angles for each pixel (or at least at the edges if this is what you are interested in), the resolution, etc...

[2022-08-03 06:50] ahvahsky2008 commented on #105
sorry, incorrectly expressed. How calc `IFOV` ?
![image](https://user-images.githubusercontent.com/8035828/182542758-90a18f69-8b07-4dbe-8a22-34ec7de54764.png)

[2022-08-03 08:08] mraspaud commented on #105
yes, that's the question! you need to find a technical description of the instrument that gives you the angle values for the IFOV and FOV

[2022-11-13 07:30] adybbroe opened #111 "Documentation refers to PPP_CONFIG_DIR"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

Documentation mention `PPP_CONFIG_DIR`. Nowadays it should be `SATPY_CONFIIG_DIR` I believe.

#### Expected Output

#### Actual Result, Traceback if applicable

#### Versions of Python, package at hand and relevant dependencies

Thank you for reporting an issue !

[2022-11-13 07:37] adybbroe opened #112 "Is the TLES environment variable described?"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description

Don't see the `TLES` environment variable described or mentioned?

#### Expected Output

It should be clear that the user could use this environment variable to control where to look for archived/offline tles. Useful when having no internet connectivity for instance!

#### Actual Result, Traceback

[2022-11-13 13:00] djhoese commented on #111
The code uses it too. Pyorbital is an independent package from Satpy. It seems odd that it would refer to Satpy's configuration environment variables and path.